# URL Backend API
VITE_API_URL=http://ecommerce-backend.ecommerce.svc.cluster.local:8080

# Grafana Faro Collector URL
# Endpoint ini harus bisa diakses dari browser user (public/ingress)
VITE_FARO_COLLECTOR_URL=http://alloy-faro.monitoring.svc.cluster.local:12347/collect

# App Identity (tampil di Grafana)
VITE_APP_NAME=ecommerce-frontend
VITE_APP_VERSION=1.0.0
VITE_APP_ENV=production
